//  =================
//      Imports
//  =================

@import '../../base/base'; // Base Variables

.section {
    border: 1px solid $m-color_3;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}

.layout-spacing {
    padding-bottom: 25px;
}

/*
Modal
*/
.modal-content {
    border: none;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    
}
.compose-box {
    // background-color: #fff;
    border-radius: 6px;
}
.compose-box .compose-content {
    h5 {
        font-weight: 700;
        font-size: 18px;
        color: #3b3f5c;
        text-align: center;
        margin-bottom: 35px;
    }

}
.compose-box .compose-content form {
    svg {
        align-self: center;
        font-size: 19px;
        margin-right: 14px;
        color: #4361ee;
        font-weight: 600;
    }

    .validation-text {
        display: none;
        color: #e7515a;
        font-weight: 600;
        text-align: left;
        margin-top: 6px;
        font-size: 12px;
        letter-spacing: 1px;
    }
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
       
}
